<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552347341777-ijh25h7ls0csk37gc383q7u603qcu2tp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552347341777-ijh25h7ls0csk37gc383q7u603qcu2tp</string>
	<key>API_KEY</key>
	<string>AIzaSyC8DBcSfDqgHMu19bZGLtlqu32Kgw7D5Ts</string>
	<key>GCM_SENDER_ID</key>
	<string>552347341777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahand.fitness</string>
	<key>PROJECT_ID</key>
	<string>fittrack-mobile-3db2a</string>
	<key>STORAGE_BUCKET</key>
	<string>fittrack-mobile-3db2a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552347341777:ios:f8c3b60c7445bbb5c946f0</string>
</dict>
</plist>